In [ ]:
# Multiplication table (from 1 to 10) in Python

In [5]:
num=int(input("enter your number: "))

enter your number: 15

In [6]:
for i in range(1,11):
    a=num*i
    print(num,"*",i,"=",a)

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150